@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.imatge-fons{
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-espectacle {
    height: 40vh;
}

#espectacle-destacat{
    height: 40vh
}
#espectacle-destacat>div{
    padding-top: 20vh
}

aside .card{
    border: 0;
    border-radius: 0;
}

#subscriute{
    background-color: #8D8DAA;
    color: #DFDFDE;
}

footer{
    color: #DFDFDE;
}

.caixa-cerca{
    border: 1px solid rgba(0,0,0,.125);
}

.caixa-esquerra{
    border-right: 1px solid rgba(0,0,0,.125);
}
.caixa-esquerra p{
    margin-bottom: 0;
}

.caixa-dreta>div{
    padding: 1rem 1rem;
}

#resultat-cerca .caixa-dreta p{
    margin-bottom: 0;
}
